.menu
  width: 100%
  min-height: 100vh
  background-color: black
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  .menu__title
    font-weight: 800
    font-size: 2.5rem
    -webkit-box-reflect: below 1rem linear-gradient(transparent, rgba(0,0,0,0.2))
    margin-bottom: 7rem
    .title__symbol
      position: relative
      display: inline-block
      color: #0dca0d
      animation: animate 4s ease-in-out infinite
      animation-delay: calc(0.2s * var(--i))
      @keyframes animate
        0%
          transform: translateY(0px)

        20%
          transform: translateY(-10px)

        40%,100%
          transform: translateY(0px)
    .title__space
      width: 1rem
  .border__snake
    padding: 50px 80px
    position: relative
    overflow: hidden
    &>span
      display: block
      position: absolute
      &:nth-child(1)
        top: 0
        left: -100%
        width: 100%
        height: 2px
        background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 233, 2))
        animation: animate1 4s linear infinite
      &:nth-child(2)
        top: -100%
        right: 0
        width: 2px
        height: 100%
        background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 233, 2))
        animation: animate2 4s linear infinite
        animation-delay: 1s
      &:nth-child(3)
        bottom: 0
        right: -100%
        width: 100%
        height: 2px
        background: linear-gradient(to left, rgb(0, 0, 0), rgb(0, 233, 2))
        animation: animate3 4s linear infinite
        animation-delay: 2s
      &:nth-child(4)
        bottom: -100%
        left: 0
        width: 2px
        height: 100%
        background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 233, 2))
        animation: animate4 4s linear infinite
        animation-delay: 3s
  .menu__items
    text-align: center
    list-style-type: none
    font-size: 1.7rem
    transition: all .2s ease-in-out
    .menu__items_hover
      &:hover
        .item
          opacity: .3
      .item
        padding: 15px 10px
        color: white
        cursor: pointer
        transition: all .2s ease-in-out
        &:hover
          background-color: rgba(225,255,255, .05)
          opacity: 1
          transform: translateY(-4px)
          box-shadow: 0 4px 5px rgba(255, 255, 255, .3)
          &:nth-child(2)
            transform: translateY(-2px)
            box-shadow: 0 2px 5px rgba(255, 255, 255, .3)
          &:nth-child(3)
            transform: translateY(2px)
            box-shadow: 0 -2px 5px rgba(255, 255, 255, .3)
          &:nth-child(4)
            transform: translateY(4px)
            box-shadow: 0 -4px 5px rgba(255, 255, 255, .3)
          color: green

  .menu__footer
    cursor: default
    background: linear-gradient(90deg, #ffffff, #ffffff)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    padding: 10px
    position: absolute
    bottom: 20px
    right: 40px
    transition: all .2s linear
    &:hover
      transition: all .2s linear
      background: linear-gradient(90deg, #96e53a 10%, #006902 20%, #96e53a 30%, #006902 40%,#96e53a 50%, #006902 60%,#96e53a 70%, #006902 80%,#96e53a 90%, #006902 100%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent



@mixin keyframes($translate1, $translate2)
  0%
    transform: $translate1
  100%
    transform: $translate2

@keyframes animate1
  @include keyframes(translateX(0), translateX(400%))

@keyframes animate2
  @include keyframes(translateY(0), translateY(400%))

@keyframes animate3
  @include keyframes(translateX(0), translateX(-400%))

@keyframes animate4
  @include keyframes(translateY(0), translateY(-400%))


